---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*
CheckOptions:
    - { key: misc-include-cleaner.IgnoreHeaders, value: "Eigen/.*" }

WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: file
