on:
  push:
    paths:
      - CITATION.cff
  workflow_dispatch:

name: CITATION.cff
permissions:
  contents: read

jobs:
  Validate-CITATION-cff:
    runs-on: ubuntu-latest
    name: Validate CITATION.cff
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Validate CITATION.cff
        uses: dieghernan/cff-validator@114aae53e1850c3757733beb60036941900e3dc3 # v4
